/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/11/2019, 14:03:02
    Author     : Jhonnatan
*/

.btnovo{
    
    -fx-background-image: url("../css/img/user.png");
    -fx-background-size: 85%, auto;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.btSair{
    -fx-background-image: url("../css/img/sair.png");
    -fx-background-size: 80%, auto;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.btBusca{
    -fx-background-image: url("../css/img/buscar.png");
    -fx-background-size: 55%, auto;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    
}