/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/11/2019, 10:25:49
    Author     : Jhonnatan
*/

.btHospedes{
    -fx-background-image: url("../css/img/hospedes.png");
    -fx-background-size: 75%, auto;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.btHospedagem{
    -fx-background-image: url("../css/img/hospedagem.png");
    -fx-background-size: 85%, auto;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.btReserva{
    -fx-background-image: url("../css/img/reserva.png");
    -fx-background-size: 65%, auto;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.btSair{
    -fx-background-image: url("../css/img/sair.png");
    -fx-background-size: 72%, auto;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}